html body {
  background-color: #C6FFDD;  /* fallback for old browsers */
  background-image: linear-gradient(to right, #869efb, #86bdfb, #C6FFDD); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

h1 {
  color: #FFFFFF;
  font-size: 50px;
  -webkit-text-stroke: 1px black;
}