html body {
  background-color: #C6FFDD;  /* fallback for old browsers */
  background-image: linear-gradient(to right, #869efb, #86bdfb, #C6FFDD); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

h1 {
  color: #FFFFFF;
  font-size: 5em;
  font-family: 'Montserrat', sans-serif;
  -webkit-text-stroke: 1px rgb(53, 50, 50);
}

.employeeTableName {
  cursor: pointer;
  font-size: 1.2em;
}

.employeeTableName:hover {
  font-weight: bold;
  color: #3d59c9;
}

.headshot {
  object-fit: cover;
  width: 200px;
  height: 200px;
}

dl{
  font-size: 150%;
}